div img {
    width: 20%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

.input-area {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main, header {
    width: 80vw;
}

@media screen and (min-width: 641px) {
    .input-area {
        flex-direction: row;
        justify-content: space-evenly;
    }

    main, header {
        width: 640px;
    } 
}